html, body {    
    height: 100%;
    margin: 0;
    font-family: colabReg;
    background-color: #ff00ff;
    color: #ffff; }

h1 { text-align: center; }

table { height: 60%; width: 80%; margin: auto;;}

td { text-align: center; width: 240px; height: 135px; border: 2px solid black; border-radius: .5em; }

#maps td { font-size: 3em; color: white; }

#teams td { border: none; height: auto; font-size: 2em; }

#none { border: none; height: auto; }

@font-face {
	font-family: colabReg;
	src: url(../fonts/ColabReg.otf);
}

#wrapper {
	height: 100%;
	display: flex;
	flex-flow: column;
}

#header {
	flex: 0 1 auto;
	width: auto;
	border-bottom: .2em solid grey;
	padding: .5em;
}

#mirage {
	background-image: url('mirage.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#inferno {
	background-image: url('inferno.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#overpass {
	background-image: url('overpass.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#dust2 {
	background-image: url('dust2.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#train {
	background-image: url('train.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#nuke {
	background-image: url('nuke.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

#vertigo {
	background-image: url('vertigo.png');
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
}

.picked {
	text-align: center;
	background-color: rgba(0,255,0,0.8);
	background-blend-mode: multiply;
}

.banned {
	text-align: center;
	background-color: rgba(255,0,0,0.8);
	background-blend-mode: multiply;
}
